<h1>Encryption Finished </h1>
<h2>Here is your encrypted message..</h2>
<form>
	<h1>Message:</h1>
	<textarea rows="10" cols="50" name="text-encrypted" placeholder="Enter text here..">{{this.textInput}}</textarea>
	<h1>Encryption Key:</h1>
	<textarea rows="10" cols="50" name="key-encrypted" placeholder="Enter text here..">{{this.keyInput}}</textarea>
</form>
<button><a href="/">Go Home</a></button>
<p>Github: <a href="www.github.com/olwiba/cryptonite">Olwiba</a></p>