<h1>Welcome..</h1>
<h2>This tool is easy</h2>
<p>What would you like to do?</p>
<button><a href="/encrypt">Encrypt Message</a></button>
<button><a href="/decrypt">Decrypt Message</a></button>
<p>Github: <a href="www.github.com/olwiba/cryptonite">Olwiba</a></p>